@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body,
html {
	background-color: black;
	color: gray;
	font-family: "Roboto Mono", serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.input {
	border: 1px solid #333333;
	padding-left: var(--mantine-spacing-xs);
}

.bordered {
	border: 1px solid #333333;
}

.dropdown {
	border: 1px solid #333333;
	padding-left: 5px;
	background-color: black;
}

.label {
	display: inline-block;
	font-weight: 500;
	word-break: break-word;
	cursor: default;
	-webkit-tap-highlight-color: transparent;
	font-size: var(--input-label-size, var(--mantine-font-size-sm));
	text-overflow: ellipsis;
}

.textureGroup {
	border: 1px solid transparent;
	background-color: #11111160;
	/* box-shadow: 5px 5px 10px #333333; */
}

.textureGroup:hover {
	border: 1px solid #666666;
	background-color: #333333;
	cursor: pointer;
}